{% extends "base.html" %}
{% block title %} Hospital Index {% endblock %}

{% block breadcrumb %}
	<li class="active">Overview</li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-4">
			<h3> Summary </h3>
				<!-- Columns are always 50% wide, on mobile and desktop -->
				<div class="row">
				  	<div class="col-xs-6"><b>Cases</b></div>
				  	<div class="col-xs-6">{{ index['GlobalStats']['NrOfCases'] }}</div>
				</div>
				<div class="row">
					<div class="col-xs-6"><b>Annotated Cases</b></div>
				  	<div class="col-xs-6">{{ index['GlobalStats']['NrOfAnnotatedCases'] }}</div>
				</div>
				<div class="row">
				  	<div class="col-xs-6"><b>Runs</b></div>
				  	<div class="col-xs-6">{{ index['GlobalStats']['NrOfRuns'] }}</div>
				</div>
				<div class="row">
				  	<div class="col-xs-6"><b>Annotated Runs</b></div>
				  	<div class="col-xs-6">{{ index['GlobalStats']['NrOfAnnotatedRuns'] }}</div>
				</div>
				<div class="row">
				  	<div class="col-xs-6"><b>Coverage</b></div>
				  	<div class="col-xs-6">{{ (index['GlobalStats']['NrOfAnnotatedRuns'] * 100 / index['GlobalStats']['NrOfRuns'] )| round}} %</div>
				</div>
				<div class="row">
					<div class="col-xs-6"><b>FXD Runs</b></div>
				  	<div class="col-xs-6">{{ index['GlobalStats']['NrOfFXDRuns'] }}</div>
				</div>
				<div class="row">
				  	<div class="col-xs-6"><b>DICOM Runs</b></div>
				  	<div class="col-xs-6">{{ index['GlobalStats']['NrOfDICOMRuns'] }}</div>
				</div>
		</div>
		<div class="col-xs-4">
			<h3> Cases per Procedure </h3>
				{% for key, val in index['GlobalStats']['ProcedureTypes'].items() %}			
				<div class="row">
					<div class="col-xs-6"><b><a href="/Filter/Hospital/All/ProcedureType/{{key}}/Tags/All">{{key}}</a></b></div>
					<div class="col-xs-6">{{val}}</div>
				</div>
				{% endfor %}
		</div>
		<div class="col-xs-4">

			<h3> Popular Case Tags </h3>
				{% for key, val in populartags %}			
				<div class="row">
					<div class="col-xs-6"><b>{{key}}</b></div>
					<div class="col-xs-6">{{val}}</div>
				</div>
				{% endfor %}
		</div>
	</div>
	
	<h3> Statistics Per Hospital </h3>
	<table class="table table-striped">
  		<thead>
     		<tr>
		        <th>Select</th>
		        <th>Hospital</th>
		        <th>Grabber Actions</th>
		        <th>Runs</th>
		        <th>Annotated Runs</th>
		        <th>Annotation Coverage</th>
		        <th>FXD Runs</th>
		        <th>DICOM Runs</th>
		        <th>Cases</th>
		        <th>Annotated Cases</th>
		        <th>Cases / Procedure</th>
		        <th>Contracts</th>
	      	</tr>
	    </thead>
	    <tbody>
	   		{% for hospital in index['Hospitals'] %}
	      	<tr>
	      		<td><input type="checkbox" name="{{ hospital['Name'] }}" />&nbsp;</td>
				<td><a href="/Hospital/{{ hospital['Name']}}"> {{ hospital['Name'] }}</a></td>
				<td> {{ hospital['GrabberActions']|length }} </td>
				<td> {{ hospital['NrOfRuns'] }} </td>			
				<td> {{ hospital['NrOfAnnotatedRuns'] }} </td>
				<td> {{ (hospital['NrOfAnnotatedRuns'] * 100 / hospital['NrOfRuns'] )| round}} % </td>
				<td> {{ hospital['NrOfFXDRuns'] }} </td>
				<td> {{ hospital['NrOfDICOMRuns'] }} </td>
				<td> {{ hospital['NrOfCases'] }} </td>
				<td> {{ hospital['NrOfAnnotatedCases'] }} </td>
				<td> 
					<ul>
						{% for key, val in hospital['ProcedureTypes'].items() %}
							<li>{{key}}: {{val}}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul>
						{% for action, value in hospital['GrabberActions'].items() %}
							
							{% for contract in hospital['GrabberActions'][action]['Contracts'] %}

								<li><a href="/Contract/{{hospital['Name']}}/{{action}}/{{contract}}"> {{action}} - {{contract}} </a></li>
							
							{% endfor %}

						{% endfor %}
					</ul>
				</td>
		    </tr>
			{% endfor %}	
	    </tbody>
	</table>
{% endblock %}
